@mixin media{
    .menu__list{
        display: none;
    }
    .main__block{
        flex-direction: column;
        justify-content: end;
        width: 100%;
    }
    .main{
        background-position: center top 20%;
        background-size: 323px;
        text-align: center;}
    .main__title{
        padding-bottom: 0px;
    }
    .main__text{
        padding-bottom: 0px;

    }
    .feature{
        display: none;
    }
    .fixed__list{
        display: none;
    }
    .why__item:after{
        display: none;
    }
    .review__img{
        width: 130px;
        height: 130px;
    }  
    .review{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:768px) {
    @include media;
    html {
        font-size:16px
    }
    h1,h2{
        font-size: 48px;
    }
    .section{
        height: 1000px;
    }
    .main{
        min-height: 1000px;
    }
    .review__article{
        text-align: center;
        margin: 1,5rem;

    }
}
@media (max-width:480px) {
    @include media;
    html {
        font-size:16px;}
    h1,h2{
        font-size: 32px;
    }    
    .section{
        height: 800px;
    }
    .section__text{
        padding-bottom: auto;
    }  
    .main{
        min-height: 800px;
    }  
    .why__list{
        flex-wrap: wrap;
    }
    .why__item{
        flex-direction: row;
    } 
    .why__description{
        margin-left: 12px;
        text-align: left;
    }
    .section__text{
        width: 95%;
        padding-bottom: 0;
    }  
    .review__article{
        text-align: center;
        margin: 1rem;
    }
    }