
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fff;
}
.map__img{
   height: 100%;
}
.map{
    object-fit: contain;
    width: auto;
    min-height: 100%;
}
.address__location{
    @include tablets{
        font-weight: bold;}
}