.section--form{
    background: url(./../image/form.png) center top no-repeat;
    color: white;
    padding-top: 68px;
}
.form{
    margin-top: 60px;
    display: flex;

}
.form__col{
    flex: 1;
    margin-right: 27px;
    &:last-child{margin-right: 0px;}
}
.form__row{
    display: flex;
    margin-bottom: 11px;
    &:last-child{
        margin-bottom: 0px;
    }
}
.form__block{
    flex: 1;
    margin-right: 15px;
    &:last-child{margin-right: 0;}
}
.form__input{
    width: 100%;
    border:none;
    padding: 12px 20px;
    background: white;
    border-radius: 4px;
    border: 3px solid transparent;
    &:focus{
        border-color: #E01F3D;
        outline: none;
    }
    &--textarea{
        height: 150px;
        resize: none;
    }
}
.form__controls{
    display: flex;
    flex-wrap: wrap;
}
.form__title{
    text-align: left;
    margin-bottom: 6px;
}
.form__button{
    display: flex;
    margin-top: 48px;
}