.hamburger{
    width: 26px;
    height: 30px;
    display: none;
    @include tablets{
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 26px;
    height: 30px;
    }
}
.hamburger__line{
    display: block;
    height: 4px;
    background: #292929;
    border-radius: 1px;
}