.header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.menu__list{
    display: inline-flex;   
}
.menu__item{
    margin-right: 27px;
    &:last-child{
        margin-right: 0px;
    }
}
.address__number{
    font-size: 18px;
    font-style: normal;
}
.address__logo{
    max-width: 100%;
    height:14px;
    width: 14px;
}
