.main{
    height: 100vh;
    background-image: url(./../../image/Ellipse.png);
    background-repeat: no-repeat;
    background-position: right 40px bottom 52px;
    background-color: #F5F5F5;

    .container{
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
        padding-bottom: 52px;
    }
    
}
.main__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.main__title{
    font-size: 48px;
    padding-bottom: 22px;
}
.main__text{
    font-size: 21px;
    padding-bottom: 36px;
}
.main__list{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.main__item{
    display: flex;
}
.main__logo{
    height: 36px;
    width: 36px;
    margin-right: 20px;
    &:last-child{margin-right: 0;}
}
.main__feature{
    max-width: 114px;
}