.review{
    position: relative;
    display: flex;
    background: #F8FAF9;
    padding: 2.625rem;
    margin-top: 2rem;
    margin-bottom: 0.9375rem;
    overflow: hidden;
    @include tablets{
        flex-direction: column;
        align-items: center;
    }
    &:before{
        position: absolute;
        transform: translate(550%,-120%);
        content:'';
        display: block;
        width: 5.1875rem;
        height: 5.1875rem;
        border-radius: 50%;
        background: white;
    }
}
.review__article{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5rem;
    text-align: left;
    @include tablets{
        text-align: center;
        margin: 1,5rem; 
    }
    @include phone{
        text-align: center;
        margin: 1rem;
    }
}
.review__title{
    font-weight: bold;
    font-size: 1.5rem;
}
.review__text{
    color: $color;
    margin: 12px 0px;
}
.review__name{
    font-weight: bold;
}
.review__img{
    width: 15.8125rem;
    height: 16.5rem;
    @include tablets{
        width: 130px;
        height: 130px;
    }
}

.review__person{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review__list{
    display: flex;
}
.review__item{
    margin-right: 0.4375rem;
    &:last-child{margin-right: 0;}

}
.review__link{
    display: block;
    width: 4.625rem;
    height: 4.625rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.25rem solid transparent;
    &:hover{
        border-color: #E01F3D;
    }
    &--active{
    border-color: #E01F3D;
}
}
.review__avatar{
    margin-bottom: 0.9375rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}