.fancybox-content{
    padding: 20px;
}
.modal{
    display: none;
    font-family: 'Play';
}
.modal__container{
    padding: 10px 20px;
    width: auto;
}
.modal__button-container{
    display: flex;
    justify-content: center;
}
.button--modal{
    margin: 20px 0px;

}
.input--error{
    border-color: yellow;
}